@font-face {
    font-family: 'Source Serif Pro';
    src: url('/fonts/Source_Serif_Pro/SourceSerifPro-Regular.ttf');
}

@font-face {
    font-family: 'Slabo 13px';
    src: url('/fonts/Slabo_13px/Slabo13px-Regular.ttf');
}