@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Slabo 13px';
    src: url('/fonts/Slabo_13px/Slabo13px-Regular.ttf');
    font-display: swap;
}