@charset "UTF-8";
html {
    background: #222831f2;
    font-weight: normal;
    &.debug {
        #container>* {
            border: 1px solid blue;
        }
        ul.nav.internal {
            border: 1px solid blue;
        }
    }
    &.loading {
        background-color: #202020;
    }
    body {
        margin: 0;
        margin: 0;
        background: #1b2533;
        color: #ECECEC;
        
        background: radial-gradient(circle at top, #0c447c, #470d0d);
        height: 100%;
        .honey {
            /* clean-css ignore:start */
            background: top url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(25,25,25)' viewBox='0 0 100 169.5'%3E%3Cpolygon points='50,34.75 93.5,59.75 93.5,109.75 50,134.75 6.5,109.75 6.5,59.75'%3E%3C/polygon%3E%3Cpolygon points='0,-50 43.5,-25 43.5,25 0,50 -43.5,25 -43.5,-25'%3E%3C/polygon%3E%3Cpolygon points='100,-50 143.5,-25 143.5,25 100,50 56.5,25 56.5,-25'%3E%3C/polygon%3E%3Cpolygon points='0,119.5 43.5,144.5 43.5,194.5 0,219.5 -43.5,194.5 -43.5,144.5'%3E%3C/polygon%3E%3Cpolygon points='100,119.5 143.5,144.5 143.5,194.5 100,219.5 56.5,194.5 56.5,144.5'%3E%3C/polygon%3E%3C/svg%3E");
            background-size: 10px;
            display: block;
            overflow: hidden;
            /* clean-css ignore:end */
        }
        #container {
            position: relative;
            z-index: 100;
            padding-bottom: 10em;
            padding-top: 3em;
            transition: transform 2s;
        }
    }
}

html .honey-teir1 {
    border-top: 1px solid #1b2533;
    border-bottom:  4px solid #470d0d;
    background: center url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='$background' viewBox='0 0 100 169.5'%3E%3Cpolygon points='50,34.75 93.5,59.75 93.5,109.75 50,134.75 6.5,109.75 6.5,59.75'%3E%3C/polygon%3E%3Cpolygon points='0,-50 43.5,-25 43.5,25 0,50 -43.5,25 -43.5,-25'%3E%3C/polygon%3E%3Cpolygon points='100,-50 143.5,-25 143.5,25 100,50 56.5,25 56.5,-25'%3E%3C/polygon%3E%3Cpolygon points='0,119.5 43.5,144.5 43.5,194.5 0,219.5 -43.5,194.5 -43.5,144.5'%3E%3C/polygon%3E%3Cpolygon points='100,119.5 143.5,144.5 143.5,194.5 100,219.5 56.5,194.5 56.5,144.5'%3E%3C/polygon%3E%3C/svg%3E");
    background-size: 9px;
    display: block;
    overflow: auto;
}

html section,
.section,
footer {
    min-height: 30vh;
    border-radius: 5px;
    background: #ccc;
    padding: 0.5em;
    border: 2px solid #2e2a2a;
    border-radius: 3px;
    min-height: 40px;
    margin-bottom: 1em;
    margin: 2em;
    background: #222831f2;
}

.section {
    transition: border-color .4s .3s ease-in, transform .4s ease-in;
    border: 2px solid #0c447c;
}

html body .section.visible {
    //border-color: red !important;
    // filter: saturate(1.9);
}

hr {
    border-color: #52473f;
}

h4 {
    margin: 0.4em;
    padding-bottom: 1em;
    text-align: center;
}

#content {
    font-family: "Slabo 13px", serif;
    letter-spacing: .3px;
    line-height: 1.3em;
    width: 100vw;
    font-size: 1.2em;
    overflow-x: hidden;
}

@media only screen and (min-width: 900px) {
    #content .contained {
        padding-left: 20%;
        padding-right: 20%;
    }
}

a {
    color: #ECECEC;
}

a span {
    
}

ul.items {
    padding: 1em;
}

header {
    background-color: rgba(14, 25, 41, 0.95);
    position: sticky;
    top: 0;
    border-bottom:  2px solid #1561ad;
    z-index: 600;
    margin: 0;
    padding: 3em;
    padding-top: 4.5em;
    &.category {
        padding: 0;
    }
}

header a.title {
    font-size: 2em;
    font-family: 'Source Serif Pro', Serif;
}

header.shared {
    z-index: 100;
}

h1 {
    font-size: 3em;
    margin: 0;
    color: #a7a5b1;
    line-height: 0.9em;
    font-family: 'Slabo 13px';
}

h1.author-title {
    font-size: 0.6em;
}

h1.title {
    text-align: center;
    margin: 0;
}

h2 {
    line-height: 1.5em;
    padding: 0;
    color: #a7a5b1;
    text-shadow: 1px 1px #202020;
}

h3 {
    color: white;
    line-height: 2em;
    padding: 0;
    font-size: 1.2em;
    font-weight: normal;
}

h4,
.post-full h1.title {
    color: #de6b48;
    font-size: 1.5em;
    overflow: hidden;
}

h1,

h2,
h3,
h4,
h5 {
    margin-left: 0;
}

ul {
    margin: 0;
    padding: 0px 0px;
}

.nav li,
nav li,
footer li {
    margin: 5px 0;
    list-style-type: none;
}

ul.panels li {
    list-style-type: none;
}

a {
    
    color: #d4d4d4;
}

.warning {
    background-color: rgba(255, 235, 59, 0.53);
    padding: 1em;
    margin: 0;
    border-radius: 0.1em;
}

.hire-notice {
    background-color: #854b9cf2;
    border-bottom: 1px solid black;
    color: white;
    padding: 1em;
    margin: 0;
    border-radius: 0.1em;
    position: absolute;
    z-index: 1010;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 1.5;
    overflow: hidden;
    animation: 0.6s ease-in 0s 1 alternate slideDown;
}

html[data-speclate-url="/tags/index.html"] a.tag {
    display: block;
    margin: 1em;
}

html[data-speclate-page="home"]:not(.loading) ul.nav li {
    transition: all 0.33333s ease-in;
    animation-iteration-count: infinite;
    animation-name: twitch;
    animation-duration: 25s;
    animation-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
}

html[data-speclate-page="home"]:not(.loading) ul.nav li .spinner {
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
    animation-name: twitch-rev;
    animation-duration: 10s;
}

ul.nav.internal {
    position: relative;
    display: inline-flex;
    justify-content: center;
    margin: 0;
    top: 2.2em;
    flex-wrap: wrap;
    z-index: 400;
    width: 100%;
}

ul.nav.internal li {
    max-width: 4.5em;
    flex-basis: 100%;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    text-align: center;
    margin-bottom: 1em;
}

ul.nav.internal li a {
    font-family: 'Slabo 13px', Serif;
    display: inline-block;
    position: relative;
    text-decoration: none;
    border: 1px solid #ECECEC;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 3em;
    border-radius: 3em;
    height: 3em;
    width: 3em;
    text-align: center;
}

ul.nav.internal li a .spinner {
    transform-origin: center;
    border-radius: 3em;
    height: 3em;
    width: 3em;
    margin: 0;
    top: 0;
    position: absolute;
    padding: 0;
}

ul.nav.internal li a svg {
    width: 1.5em;
    top: .4em;
    position: relative;
}

ul.nav.internal li .spinner:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -0.5em;
    transform: scale(0.6) translateY(0px);
    left: 1em;
    border-top: 0.5em solid;
    border-color: inherit;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
}

html[data-speclate-page] body ul.nav li a {
    transition: transform 0.5s;
}

html[data-speclate-page="links"] ul.nav li:not(.links) a,
html[data-speclate-page="posts"] ul.nav li:not(.posts) a,
html[data-speclate-page="tag"] ul.nav li:not(.tags) a,
html[data-speclate-page="talks"] ul.nav li:not(.talks) a,
html[data-speclate-page="about"] ul.nav li:not(.about) a {
    transform: translateY(-5em) scale(0.9);
}

html[data-speclate-page="links"] ul.nav li.links a,
html[data-speclate-page="posts"] ul.nav li.posts a,
html[data-speclate-page="tags"] ul.nav li.tags a,
html[data-speclate-page="talks"] ul.nav li.talks a,
html[data-speclate-page="about"] ul.nav li.about a {
    // animation-name: spin;
    // animation-iteration-count: once;
    // animation-timing-function: linear;
    // animation-duration: 0.5s;
    // animation-fill-mode: forwards;
    // animation-play-state: play;
}

html[data-speclate-page="links"] ul.nav li.links a .spinner,
html[data-speclate-page="posts"] ul.nav li.posts a .spinner,
html[data-speclate-page="tags"] ul.nav li.tags a .spinner,
html[data-speclate-page="talks"] ul.nav li.talks a .spinner,
html[data-speclate-page="about"] ul.nav li.about a .spinner {
    animation-name: spin;
    animation-timing-function: ease-in;
    animation-iteration-count: once;
    animation-direction: forwards;
    animation-duration: 0.6s;
}

html ul.nav li a.loading {
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

html ul.nav li a.loading .spinner {
    animation-iteration-count: infinite;
    animation-name: spin;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-direction: reverse;
    animation-duration: 1s;
}

html body li.links a {
    border-color: #92B558;
    background: #92B558;
}

html body li.hire a {
    border-color: #8e44ad;
    background: #8e44ad;
}

html[data-speclate-page=hire] section,
html[data-speclate-page=hire] li.section.link {
    border: 2px solid rgba(142, 68, 173, 0.3);
    &.visible {
        border: 2px solid rgba(142, 68, 173, 0.7);
    }
}

html[data-speclate-page=hire] .tags {
    display: inline-flex;
}

html[data-speclate-page=hire] .tags .tag {
    white-space: nowrap;
    border: 1px solid #8e44ad;
    color: white;
    background: #522764;
}

html[data-speclate-page=hire] ul.nav li.hire a h3 {
    color: #8e44ad;
}

html body li.contact a {
    border-color: #8e44ad;
    background: #8e44ad;
}

html body li.talks a {
    border-color: #d35400;
    background: #d35400;
}

html body li.posts a {
    border-color: #C48F65;
    background: #C48F65;
}


/*load icon*/

.loader {
    transition: opacity .2s ease-in .5s;
    opacity: 0;
    height: 5px;
    width: 84%;
    position: relative;
    margin: 2%;
    overflow: hidden;
}

html.loading .loader {
    opacity: 1;
    background: #f5f7f4;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f5f7f4 0%, #ffffff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f5f7f4 0%, #ffffff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f5f7f4 0%, #ffffff 100%);
}

html.loading .loader:before {
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 3px;
    animation: loading 2s linear infinite;
    background: #dddddd;
    /* Old browsers */
    background: -moz-linear-gradient(left, #dddddd 0%, #2989d8 50%, #207cca 67%, #dddddd 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #dddddd 0%, #2989d8 50%, #207cca 67%, #dddddd 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #dddddd 0%, #2989d8 50%, #207cca 67%, #dddddd 100%);
}

html #container {
    opacity: 1;
    transition: opacity 1s ease-in 0s;
}

html #container {
    opacity: 1;
    transition: opacity 1s ease-in 0s;
}

html.loading #container {
    opacity: 0;
}

html.loading[data-speclate-url="/index.html"] .loader,
html.loading[data-speclate-url="/"] .loader {
    opacity: 0;
}

.button {
    color: white;
    padding: .3em;
    background-color: white;
    color: #1b2533;
    margin: 0 .5em 0 0;
    line-height: 2.2em;
}

.button:hover {
    color: #222831f2;
}

html.loading footer {
    display: none;
}

.simonmcmanus-container {
    position: absolute;
    height: 4em;
    right: 4%;
    z-index: 20000;
    border-radius: 50%;
    top: 3em;
    border: 2px solid #1561ad;
}

.panels {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.panels li {
    border: 0;
    position: relative;
    margin: 1em 4em;
    text-align: center;
    width: 100%;
    transition: all .4s;
    &.visible {
        &::after {
            animation: pop-big 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 1s !important;
        }
    }
}

.panels li:nth-child(even) {
    padding-right: 3em;
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 0.33333s;
}

.panels li:nth-child(even):after {
    right: -0.5em;
}

.panels li:nth-child(odd) {
    padding-left: 3em;
    animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 0.33333s;
}

.panels li:nth-child(odd):after {
    left: 0;
}

.panels li.garden::after {
    background-image: url("/icons/gardener.png");
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    top: -1em;
    content: ' ';
    width: 5em;
    height: 5em;
    position: absolute;
}

.panels li.resident::after {
    background-image: url("/icons/loughton.png");
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    top: -1em;
    content: ' ';
    width: 5em;
    height: 5em;
    position: absolute;
}

.panels li.web::after {
    background-image: url("/icons/web.png");
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    top: -1em;
    content: ' ';
    width: 5em;
    height: 5em;
    position: absolute;
}

.panels li.organiser::after {
    background-image: url("/icons/events.png");
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    top: -1em;
    content: ' ';
    width: 5em;
    height: 5em;
    position: absolute;
}

.panels li.lead::after {
    background-image: url("/icons/lead.png");
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    top: -1em;
    content: ' ';
    width: 5em;
    height: 5em;
    position: absolute;
}

.panels li a {
    padding-top: 4em;
    width: auto;
    border-radius: 4px;
    padding: 1em;
    position: relative;
    display: block;
    background-color: #222831f2;
    border: 2px solid black;
}

.link.section {
    transform: scale(.96);
    &.visible {
        transform: scale(1);
    }
    margin: 2em 0;
    border-radius: 5px;
    min-height: 40px;
    list-style: none;
    font-size: 1em;
    padding-top: .5em;
    border: 1px solid #222831f2;
}

.link.section a h5 {
    color: #8e9297;
    margin: 0;
    font-size: 1.3em;
    font-weight: normal;
    margin-bottom: .5em;
}

.link.section a h5 .favIcon {
    margin-right: 6px;
    top: 1px;
    position: relative;
}

.link.section a h5 .title {
    color: #d4d4d4;
}

.link.section .created {
    text-align: right;
    font-size: 0.7em;
    color: #cfccd2;
    margin: 0;
    padding: 0;
    height: 2em;
}

.link.section blockquote {
    font-family: 'SLABO 13PX';
    margin: 0 1em;
    line-height: 1.5em;
    padding: 0.5em 10px;
    quotes: "“" "”" "‘" "’";
    overflow: hidden;
    font-size: 0.8em;
}

.link.section blockquote p {
    display: inline;
}

.link.section .tags,
ul.tags {
    font-size: 0.8em;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-grow: 3;
    align-items: flex-end;
    flex-flow: row wrap;
    display: flex;
}

.all-tags {
    display: block;
}

ul.tags {}

.tags span {
    line-height: 4em;
}

.link.section .tag {
    border-radius: 3px;
    padding: 0 10px;
    -webkit-column-break-inside: avoid;
    margin: 5px;
}

.section .tags .tag {
    transition: opacity 0.5s .5s;
    opacity: 0.7;
}

.section.visible .tags .tag {
    opacity: 1;
}

html[data-speclate-page="hire"] section {
    padding: 1em;
}

html[data-speclate-page="hire"] #container li {
    list-style: circle;
    margin-left: 2.5em;
}

html[data-speclate-page=posts] section.post-full {
    border: 3px solid #222;
    margin: 3em 1em;
    padding-top: 1em;
    border-radius: 1em;
}

.post-full hr {
    border: 1px solid #273849;
    margin: 2em;
}

.post-full a {
    text-decoration: underline;
}

.post-full pre {
    background: #1b2533;
    padding: 1em;
}

.post-full .summary {
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 1.2em;
    line-height: 1.8em;
    margin: 1em 0;
}

.post-full .summary p {
    margin: 1em 0;
}

.post-full .summary pre {
    margin: 2em 1em;
    overflow: scroll;
}

.post-full img {
    max-width: 80%;
}

.post-full a.tags {
    margin-top: 1em;
    margin-bottom: 1em;
}

.post-full .tags li {
    background-color: red;
    display: inline-block;
}

.post-full a.tag {
    color: white;
    border-radius: 7px;
    line-height: 2em;
    padding: .3em .8em;
    margin: .5em;
}

.category .summary {
    padding: 1em;
}

html[data-speclate-page="tag"] .category-summary h4 {
    text-align: left;
    padding-left: 1em;
}

ul .post_item {
    margin-left: 15px;
}

ul {
    margin-top: 1em;
    margin-bottom: 1em;
}

ul:empty::before {
    content: '- no items - ';
    height: 100px;
    width: 100%;
    display: block;
    text-align: center;
}

footer {
    text-align: center;
    
}

.recent-heading {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    a {
        align-self: flex-end;
        margin: 2em;
    }
}

code {
    font-size: 0.8rem !important;
}

.overlay div {
    width: var(--overlay-w);
    height: var(--overlay-h);
    border-radius: 1em;
    box-shadow: 0 0 0 .5em var(--body-bg);
}