<nav class="recent-links">
    <ul class="links_holder items">
        <article class="section link">
            <a class="link" target="_blank" href="">
                <h5>
                    <img class="favIcon"><span class="title"></span>
                </h5>
            </a>
            <blockquote class="summary"></blockquote>
            <ul class="tags">
                <span>tagged:</span>
                <a class="button tag" href="/tags/eleventy/index.html">eleventy</a>
            </ul>
            <span class="created">2021-10-20</span>
        </article>
    </ul>
</nav>