img.note {
  max-width: 100%;
  border: 2px solid #aaa;
} 

.recent-notes .items {

  
}
nav.recent-notes ul.items {
   display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  
}

article.note {
  margin: 0;
  margin-bottom: 2em;
  background-color: rgba(255, 255, 255, 0.4);
  width: 500px;
  max-width: 90vw;

}