.recent-posts section,
.recent-posts li.section.link {
    border: 2px solid rgba(196, 143, 101, 0.3);
    &.visible {
        border: 2px solid rgba(196, 143, 101, .7);
    }
}

.recent-posts,
.post-full {
    .tags {
        display: inline-flex;
    }
    .button {
        white-space: nowrap;
        border: 1px solid #C48F65;
        color: white;
        background: #8d5c36;
    }
    ul.nav li.posts a h3 {
        color: #C48F65;
    }
}

ul.posts.linear {
    display: flex;
    margin: 0.2em 0;
    a {
        list-style: none;
        width: 50%;
        background-color: #222;
        display: flex;
        flex-direction: column;
        border: 0;
        &.previous {
            border-bottom-left-radius: 0.5em;
        }
        &.next {
            border-bottom-right-radius: 0.5em;
        }
        .describe {
            font-size: 0.6em;
            margin: 0;
            padding: 0;
            height: 3em;
        }
        .title {
            margin-top: 0;
            padding-top: 0;
        }
    }
}