<div class="holder contained items">
    <section class="post-full">
        <div id="post"></div>
        <aside>

            <ul class="tags">
                <span>tagged:</span>
                <a class="button tag" rel="tag" href="/tags/eleventy/index.html">eleventy</a>
            </ul>
            <p>
                By <a href="/" rel="author" itemprop="author" itemscope itemtype="http://schema.org/Person"> Simon McManus</a>
            </p>
            <ul class="posts linear">
                <a href class="previous button"><span class="describe">previous post:</span><span class="title"></span></a>
                <a href class="next button"><span class="describe">next post:</span><span class="title"></span></a>
            </ul>
        </aside>

    </section>

</div>
<link href="/prism/prism.css" rel="stylesheet" />
<script src="/prism/prism.js"></script>