<div class="holder contained items">
    <section class="post-full">
        <div id="post"></div>
        <aside>
            <p>
                By <a href="/" rel="author"> Simon McManus</a>
            </p>
            <ul class="tags">
                <span>tagged:</span>
                <a class="button tag" href="/tags/eleventy/index.html">eleventy</a>
            </ul>
        </aside>
    </section>

</div>

<ul class="posts contained">
    <li>
        <a href class="previous"></a>
    </li>
    <li>
        <a href class="next"></a>
    </li>
</ul>